Driving Customer Loyalty: Uncovering Churn Drivers in Telecom
- Situation: Our telecom business faces customer churn, which risks reducing revenue and customer lifetime value. This project will analyze the Customer Churn dataset to identify why customers are leaving and quantify the extent of churn. By pinpointing key factors driving churn, we aim to develop targeted retention strategies to improve customer loyalty and business outcomes.
- Objective: To analyze the Customer Churn dataset to quantify the churn rate and identify key factors driving customer attrition, such as contract type, tenure, and service costs. By leveraging exploratory data analysis, we aim to uncover actionable insights to inform targeted retention strategies. Ultimately, our goal is to reduce churn, enhance customer loyalty, and improve business outcomes for the telecom company.
- Project Workflow: This project begins with loading and cleaning the Customer Churn dataset, addressing missing values in TotalCharges by filling them with 0 for new customers (tenure=0). We will then conduct exploratory data analysis (EDA) to calculate the churn rate and examine relationships between churn and key features like contract type, tenure, and monthly charges using visualizations such as bar plots and histograms. Finally, we will derive actionable insights from these patterns to recommend retention strategies, ensuring all steps are executed using Python with pandas and seaborn for data processing and visualization.

Data Preparation & Cleaning

In [2]:
# Import all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the dataset
df_CC = pd.read_csv('Customer-Churn.csv')

In [4]:
# Check the first few rows of the dataframe
df_CC.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
# Check the Non-Null count and data types of each column
df_CC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
# Check for missing values in each column
missing_values = df_CC.apply(lambda x: x.str.strip().eq('') if x.dtype == "object" else x.isna()).sum()
"Columns with empty strings or whitespace:"
missing_values[missing_values > 0]

TotalCharges    11
dtype: int64

In [7]:
# Confirm missing values in Total Charges column
df_CC['TotalCharges'].value_counts().head()

TotalCharges
20.2     11
         11
19.75     9
19.65     8
19.9      8
Name: count, dtype: int64

In [8]:
# Convert 'TotalCharges' to numeric
df_CC['TotalCharges'] = pd.to_numeric(df_CC['TotalCharges'], errors='coerce')

In [9]:
# Check to make sure the conversion worked
df_CC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [10]:
# Count the number of NaN values in 'TotalCharges' column
df_CC['TotalCharges'].isna().sum()

np.int64(11)

In [11]:
# Impute missing values: The 11 missing TotalCharges values correspond to rows where tenure=0, meaning these customers are new and havenâ€™t accrued charges. Setting TotalCharges=0 reflects this reality without introducing artificial values.

# Fill missing TotalCharges to 0 
df_CC['TotalCharges'] = df_CC['TotalCharges'].fillna(0)

# Verify Results
df_CC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [12]:
# Remove irrelevant columns i.e. customerID
df_CC = df_CC.drop(columns=['customerID'])

# Verify that column was dropped
df_CC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [ ]:
# Convert Data Types 'object' to 'category' to optimize memory and enable efficient encoding for modeling
categorical_cols = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 
                   'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 
                   'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 
                   'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']
df_CC[categorical_cols] = df_CC[categorical_cols].astype('category')

# Verify all datatypes
df_CC.dtypes

gender              category
SeniorCitizen       category
Partner             category
Dependents          category
tenure                 int64
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges         float64
Churn               category
dtype: object

In [ ]:
# Check for any unique values in any of the 17 Category Columns 
for col in categorical_cols:
    print(f"\nUnique values in {col}:", df_CC[col].unique().tolist())

Unique values in gender: ['Female', 'Male']

Unique values in SeniorCitizen: [0, 1]

Unique values in Partner: ['Yes', 'No']

Unique values in Dependents: ['No', 'Yes']

Unique values in PhoneService: ['No', 'Yes']

Unique values in MultipleLines: ['No phone service', 'No', 'Yes']

Unique values in InternetService: ['DSL', 'Fiber optic', 'No']

Unique values in OnlineSecurity: ['No', 'Yes', 'No internet service']

Unique values in OnlineBackup: ['Yes', 'No', 'No internet service']

Unique values in DeviceProtection: ['No', 'Yes', 'No internet service']

Unique values in TechSupport: ['No', 'Yes', 'No internet service']

Unique values in StreamingTV: ['No', 'Yes', 'No internet service']

Unique values in StreamingMovies: ['No', 'Yes', 'No internet service']

Unique values in Contract: ['Month-to-month', 'One year', 'Two year']

Unique values in PaperlessBilling: ['Yes', 'No']

Unique values in PaymentMethod: ['Electronic check', 'Mailed check', 'Bank transfer (automatic)', 'Credit card (automatic)']

Unique values in Churn: ['No', 'Yes']